@tailwind components;
@tailwind base;
@tailwind utilities;

.terms-content {
    max-height: 70vh; /* Set the maximum height for the content */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 17px; /* Add space for the scrollbar */
  }
  
  /* Hide scrollbar if not scrolling */
  .terms-content::-webkit-scrollbar {
    width: 8px;
    background-color: transparent; /* Make scrollbar transparent */
  }
  
  .terms-content::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5); /* Set the color of the scrollbar thumb */
  }
  
  .terms-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(155, 155, 155, 0.7); /* Set the color of the scrollbar thumb on hover */
  }
  
  /* Add this CSS to your global styles or a specific CSS file */
/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

/* Handle on drag */
::-webkit-scrollbar-thumb:active {
  background: #333; /* Change color on drag */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar handle */
  border-radius: 10px; /* Round the corners of the scrollbar handle */
}

